.about {
    width: 85%;
    height: fit-content;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    border: 1px;
    border-style: solid;
    border-color: black;


    height: 700px;
    width: 1000px;

    position: relative;
}

.button{
    border-radius: 100%;
    height: 80px;
    width: 80px;

    position: absolute;

    background-color: beige;
}

.button img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.previous {
    top: 50%;
    left: -40px;
}
.next {
    top: 50%;
    right: -40px;
}


.slideImage {
    width: 100%;
    height: 100%;
}

.slideText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-size: 60px;
}